* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white: #fff;
    --black: #000;
    --red: #C70039;
    --blue: #377087;
    --very-light-pink: #fff;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --sm: 25px;
    --md: 35px;
    --lg: 100px;
    --ssm: 20px;
    --title_1: 70px;
    --title_2: 70px;
    --menu_a: 20px;
    --p: 15px;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 95%;
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
    padding: 10px 0px;
}

.header {
    width: 100%;
    height: 100px;
    background-size: cover;
    background-attachment: fixed;
}
.header a {
    text-decoration: none;
    color: var(--black);
    
}

.logo {
    width: 200px;
    padding: 0px 0px 0px 60px ;
}
.logo_nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 0px 0px ;
    flex-wrap: wrap;
}
.container nav ul li ul {
    display: flex;
    flex-direction: column;
    display: none;
    position: absolute;
    background-color: var(--white);
}

.container nav ul li:hover > ul {
    display: block;
    display: flex;
    flex-direction: column;

}
.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
}
.navigation ul li {
    display: inline-block;
}
.navigation ul li a {
    display: block;
    padding: 0.5rem 0.5rem;
    transition: all 0.4s linear;
    font-size: var(--menu_a);
    color: var(--black);
    text-decoration: none;
    font-weight: 400;
}
.navigation ul li a:hover{
    color: var(--blue);
    text-decoration:underline;
}

.title_1 {
    color: var(--red);
    font-size: var(--title_2);
    text-align: center;
    font-weight: 500;
    padding: 70px 0px 20px 40px;
}

.container_services{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.container_services img{
    width: 30%;
    border-radius: 20px;
    padding: 20px 0px 0px 10px;
}

.checklist_servicio{
    width: 40%;
}

.container_services h2 {
    color: var(--black);
    font-size: var(--md);
    padding: 20px 0px;
    font-weight: 100;
}

.container_services .service_1 p {
    font-size: var(--p);
    width: 99%;
    font-weight: 100;
    text-align: justify;
}

.container_services .service_2 ul li {
    font-size: var(--p);
    width: 99%;
    font-weight: 100;
    text-align: justify;
}

.container .experts {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.container-expert img {
    width: 300px;
}

.container-expert h3 {
    text-align: center;
}

.container-galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}

.img-galeria{
    width: 350px;
    height: 350px;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
    cursor: pointer;
}

.imagen-light{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.534);
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.agregar-imagen{
    width: 60%;
    transform: scale(0);
    border-radius: 10px;
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.show{
    transform: translate(0);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}


footer{
    background: var(--white);
    padding: 40px 0 10px 0;
    margin: auto;
    overflow: hidden;
}
.container_footer {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--red);
}
.contac_us{
    display: block;
    text-align:left;
    padding: 0px 30px 0px 0px;
}

.contac_us h2{
    font-size: 70px;
    text-align: left;
}


.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: var(--black);
}
.social_media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 100px;
    height: 100px;
    border: 1px solid var(--red);
    border-radius: 50%;
    text-align: center;
    color: var(--red);
}

.social-media-icon i{
    font-size: 60px;
    line-height: 100px;
}

.social-media-icon:hover{
    background: var(--black);
    color: var(--white);
}


@media screen and (max-width:900px){

    .header {
        background-position: center;
        margin: auto;
        overflow: hidden;
    }
    .navigation {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0px 20px 10px;
        
    }
    .logo{
        width: 40%;
        padding: 0px 0px 0px 30px;
    }
    .container_about_us {
        flex-direction: column;
        justify-content:center;
        padding: 0px 0px 0px 30px;
    }
    .image_about_occupational {
        width: 90%;
        
    }
    .container_of_text .title_1{
        font-size: 80px;
        padding: 0px 0px 0px 0px;
    }
    .container_of_text .title_2{
        font-size: 80px;
        padding: 0px 0px 0px 0px;
    }
    .container_of_text p{
        width: 190%;
    }
    .container_about_us .image_about_occupational {
        width: 90%;
        padding: 0px 0px 0px 30px;
    }
    .figure_text .image_text_1 {
        width: 210px;

    }
    .figure_text .image_3{
        width: 44%;
        margin: auto;
        overflow: hidden;
    }

    .container_footer{
        flex-direction: column;
    }
    .social_media{
        padding: 40px 0px 0px 0px;
    }
}
